.mate-search-wrap{
	.container;
	background:
		url(img/bg/left_girl.png) no-repeat 0% 50%,
		url(img/bg/right_girl.png) no-repeat 100% 50%
	;
}

.form-window{
	padding: 40px 40px 20px;//25px 25px 0;
	margin: 50px auto;
	background: rgba(0,0,0,.3);
	border: rgba(255, 255, 255, .3) solid 3px;
	border-radius: @border-radius-large;
	color: #fff;
	label.control-label{
		text-align: left;
		font-weight: 400;
	}
	a{
		text-decoration: underline;
		font-size: .8em;
	}
	.input-prepend{
		position: relative;
		label{
			position: absolute;
			line-height: 38px;
			margin-left: 10px;
			color: #aaa;
			font-weight: 400;
		}
		input{text-align: right;}
	}
	.title{
		color: #fff;
		font-weight: 400;
		margin: 0 0 15px;
	}
    .warn{color: #fc0;}
}
