// Theme
// -------------------------------
// Core variables and mixins


@bg-nav: #2258a0;


@import "variables.less";
@import "mixins.less";


// Vendor
// -------------------------------

// Bootstrap's styles
@import "bootstrap.less";


// Components
// -------------------------------
@import "icon.less";
@import "layout.less";
@import "form.less";


// Site-overrides
// -------------------------------


.headline{
	background: rgba(0, 0, 0, .5);
	box-shadow: 0 0 1px #000;
	color: #fff;
	.container{
		font-size: 24px;
		font-weight: 400;
		line-height: 60px;
		margin: 0 auto;
	}
}



.matelist{
	padding-top: 20px;
	.container;
	.pager{
		margin: 20px 0;
		a{
			color: #aaa;
			display: inline-block;
			font-size: 24px;
			margin: 0 .3em;
			text-decoration: none;
			&:hover,&.active{color:#fff;}
		}
	}
	&-cards{
		#flex.justify();
	}
}

.usercard-tile{
	@w: 290px;
	@h: 300px;
	@p: 20px;
	@w-foto: 138px;
	@h-foto: 184px;

	#pos.rel();
	.size(@w @h);
	background: #fff;
	border-radius: 10px;
	color: #000;
	font-size: 18px;
	line-height: 1.2em;
	margin: 8px 0;
	&-foto{
		#pos.abs(@p x x @p);
		img{
			.size(@w-foto @h-foto);
			border-radius: 10px;
		}
		.icon{
			#pos.abs(x 10px 10px x);
			.size(12px 12px);
		}
	}
	&-detail{
		#pos.abs(20px 20px x x);
		width: @w - @w-foto - 2*@p - 10px;
		.title{
			font-size: 22px;
			margin-bottom: .4em;
		}
		p{margin-bottom: .4em;}
		a{
			display: table;
			color: #878af5;
			font-size: 17px;
			margin-left: -2px;
		}
		.icon{
			display: table-cell;
			width: 23px;
			background-position: 0 3px;
		}
	}
	&-about{
		#pos.abs(x 20px 20px 20px);
		background: #ece9e9;
		border-radius: 10px;
		font-style: italic;
		height: 60px;
		padding: 10px;
		&:before{
			@size: 12px;
			#pos.abs(-12px x x (138px-@size)/2);
			border-color: transparent transparent #ece9e9 transparent;
			border-style: solid;
			border-width: 0 @size/2 @size @size/2;
			content: "";
			height: 0;
			width: 0;
		}
	}
}

